# Ambiente virtual
venv/
.venv/

# Cache Python
__pycache__/
*.pyc

# Arquivos temporários
.DS_Store
Thumbs.db

# Saídas geradas
output/*.xlsx

# Opcional: ignorar dados brutos pesados
# data/raw/*.csv