# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# AMBIENTE VIRTUAL
# =========================
venv/
.venv/
env/

# =========================
# SISTEMA OPERACIONAL
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITORES
# =========================
.vscode/
.idea/

# =========================
# LOGS E TEMPORÁRIOS
# =========================
*.log
*.tmp

# =========================
# OUTPUT GERADO
# =========================
output/*.xlsx

# =========================
# JUPYTER (se usar no futuro)
# =========================
.ipynb_checkpoints/